# Dotnet stuff
bin/
obj/
.vs/
*.publish/
*.publish.zip

# Terraform stuff
.terraform/
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup

# Normally this would be included, but it might confuse the Demo
.terraform.lock.hcl

# Demo stuff
env.tfvars
docs/Presentation.pptx
